@page {
  size: A4 portrait;
}

@media print {
  body {
    height: 100%;
  }
  html {
    height: 100vh;
  }
  header::after {
    position: absolute;
    content: "";
    inset: 0;
    background: url("/clip.svg") no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0.25;
  }
  header {
    overflow: hidden;
  }
  header::before {
    bottom: -40mm;
  }
}
