@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #5CA9AA;
  --background: #fff;
}

:root,
.inverted-vars-reset {
  --background-rgb: var(--accent);
  --foreground-rgb: var(--background);
}

.inverted-vars {
  --background-rgb: var(--background);
  --foreground-rgb: var(--accent);
}

html {
  font-size: 15px;
  counter-reset: info-item;
}

section,
body, .modal {
  color: var(--foreground-rgb);
  fill: var(--foreground-rgb);
  background: var(--background-rgb);
}

.inverted {
  background: var(--foreground-rgb);
  fill: var(--background-rgb);
  color: var(--background-rgb);
}

.wrapper::before {
  content: "";
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: -100px;
  background: var(--foreground-rgb);
  z-index: -2;
}

.wrapper {
  z-index: 0;
}
.with-overlay {
  z-index: 0;
  /* margin-top: -51vh; */
}

.overlay {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  /* height: 49vh; */
  pointer-events: none;
  /* background: var(--background-rgb); */
  position: sticky;
  z-index: 4;
  /* mix-blend-mode: difference; */
}

.maplibregl-ctrl-group {
  box-shadow: none !important;
  background: none !important;
}
.maplibregl-ctrl-group button + button {
  border: none !important;
}
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out {
  background-color: white !important;
  filter: invert(1);
  border-radius: 50% !important;
  height: 64px !important;
  width: 64px !important;
  margin: 10px !important;
}

.lang {
  position: fixed;
  z-index: 2;
  text-orientation: sideways;
  writing-mode: vertical-rl;
  left: 0;
  bottom: 10%;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  border: 2px solid var(--background-rgb);
  border-left: 0;
}

.page1 {
  position: relative;
}

.page1 > * {
  z-index: 1;
}

/* .page1::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  background: url('/noise.png');
} */


.page1::before {
  position: absolute;
  content: "";
  inset: 0;
  background: url('/kolona.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .25;
}
.page1::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--background-rgb);
  /* filter: blur(200px); */
  mask-image: url('/clip.svg'), linear-gradient(#fff 0 0);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-composite: exclude;
  opacity: .5;
}

.logo svg {
  width: 100%;
  height: auto;
}

.info-item {
  counter-increment: info-item;
}

.info-item-count-before::before {
  content: counter(info-item) "/";
}
.info-item-count-after::before {
  content: "/" counter(info-item);
}

.info-item-count-before,
.info-item-count-after {
  line-height: 1em;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide .hidden-link {
  display: none;
}

